{% extends "base.html.twig" %}

{% block slider %}
    <!-- Begin text carousel intro section -->
    <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(../img/slider-bg.jpg); height:50%;">
        <div class="container">
            <div class="caption text-center text-white" data-stellar-ratio="0.7" style="top:200px">
                <div id="owl-intro-text" class="owl-carousel">
                    <div class="item">
                        <h1>Top SSC positions available</h1>
                        <p>Job opportunities in shared services for top companies</p>
                    </div>
                    <div class="item">
                        <h1>Office jobs advice & more</h1>
                        <p>Always be on top of the latest trends & policies</p>
                    </div>
                    <div class="item">
                        <h1>Smart choice for smart people</h1>
                        <p>Never miss you next perfect job opportunity</p>
                    </div>
                </div>
            </div> <!-- /.caption -->
        </div> <!-- /.container -->
    </section>
    <!-- End text carousel intro section -->
{% endblock %}

{% block body %}
    <section id="about-section" class="page bg-style1">
        <!-- Begin page header-->
        <div class="page-header-wrapper">
            <div class="container">
                <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                    <h2>We are trully sorry you are leaving us and hope you will be back soon</h2>
                    <div class="devider"></div>
                </div>
                <div class="terms-just">
                    <h3 class="header-terms">Guidelines</h3>
                    <p> 1. As part of the unsubscription process, an email was sent to email address, indicated in the previous step. Please check your email and complete unsubscription process by clicking "Unsubscribe" button to confirm your with to unsubscribe!</p>
                    <p> 2. <strong> Note: </strong> we are trying to handle each unsubscription email immidiatly, however delays of up to 10 days may occure.</p>
                </div>
            </div>
        </div>
    </section>	
{% endblock %}
